<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unrot•link</title>
    <link rel="stylesheet" href="https://unpkg.com/prism-themes@1.9.0/themes/prism-ghcolors.min.css" >
    <link rel="stylesheet" href="/static/font.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
  </head>

  <body id="{{ page.fileSlug }}">
    <main>
      <nav>
        <a href="/"><img id="logo" src="/static/logo.svg" alt="unrot.link logo" width="16" height="16"></a>
        <ul>
          <li><a href="/try">Try it</a></li>
          <li><a href="/access">Get access</a></li>
          <li><a href="/docs">Docs</a></li>
        </ul>
      </nav>
      {{ content | safe }}
    </main>
    <footer>
      <ul>
        <li>Built by <a title="for old links 👵 " href="https://remysharp.com">@rem</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="https://github.com/remy/unrot.link">Source code</a></li>
      </ul>
    </footer>
  </body>

</html>
